# Python cache files
__pycache__/
*.pyc
*.pyo

# Virtual environment
Dvenv/

# Environment variables
.env

# Log files
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor-specific files
.idea/
.vscode/
*.sublime-workspace

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Testing/build files
.tox/
.nox/
coverage/
*.cover